<h1> Planets<small class="text-muted"> Solar system</small></h1>
<p><mark>search result: <b>{{searchText}}</b></mark></p>
<hr>

<div class="alert alert-secondary" role="alert" *ngIf="planetsArr.length == 0">
    <h4 class="alert-heading">Sorry, no records were found!</h4>
    <p>Aww yeah, we're sorry, no records were found: <mark> "{{searchText}}" </mark> try once again.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use the search component properly.</p>
</div>
<div class="card-columns ">
    <app-planet-card [planet]="planet" [idx]="i" *ngFor="let planet of planetsArr; let i = index"></app-planet-card>
</div>